In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [8]:
# Read the startup_data.csv file from the Resources folder into a Pandas DataFrame
df = pd.read_csv(
    Path("./Resources/startup_data.csv")
)

# Review the DataFrame
df.head()

,Company_Name,Dependent-Company Status,year of founding,Age of company in years,Internet Activity Score,Short Description of company profile,Industry of company,Focus functions of company,Investors,Employee Count,...,Percent_skill_Data Science,Percent_skill_Business Strategy,Percent_skill_Product Management,Percent_skill_Sales,Percent_skill_Domain,Percent_skill_Law,Percent_skill_Consulting,Percent_skill_Finance,Percent_skill_Investment,Renown score
0,Company1,Success,No Info,No Info,-1.0,Video distribution,NaN,operation,KPCB Holdings|Draper Fisher Jurvetson (DFJ)|Kl...,3.0,...,0,0,0,0,0,0,0,0,0,0
1,Company2,Success,2011,3,125.0,NaN,Market Research|Marketing|Crowdfunding,"Marketing, sales",NaN,NaN,...,8.823529412,21.76470588,10.88235294,2.941176471,0,0,0,0,0,8
2,Company3,Success,2011,3,455.0,Event Data Analytics API,Analytics|Cloud Computing|Software Development,operations,TechStars|Streamlined Ventures|Amplify Partner...,14.0,...,3.846153846,17.09401709,9.401709402,0,2.777777778,0,0,0,0,9
3,Company4,Success,2009,5,-99.0,The most advanced analytics for mobile,Mobile|Analytics,Marketing & Sales,Michael Birch|Max Levchin|Sequoia Capital|Keit...,45.0,...,0,0,0,0,0,0,0,0,0,5
4,Company5,Success,2010,4,496.0,The Location-Based Marketing Platform,Analytics|Marketing|Enterprise Software,Marketing & Sales,DFJ Frontier|Draper Nexus Ventures|Gil Elbaz|A...,39.0,...,0,0,0,0,0,0,0,0,0,6

In [9]:
# Review the data types associated with the columns
df.dtypes

Company_Name                 object
Dependent-Company Status     object
year of founding             object
Age of company in years      object
Internet Activity Score     float64
                             ...
Percent_skill_Law            object
Percent_skill_Consulting     object
Percent_skill_Finance        object
Percent_skill_Investment     object
Renown score                 object
Length: 116, dtype: object

In [18]:
# Keep relevant columns in the dataframe
startup_df = df[['Age of company in years','Internet Activity Score', 'Industry of company', 'Focus functions of company', 'Employee Count', 'Has the team size grown', 'Last Funding Date', 'Last Funding Amount', 'Country of company', 'Continent of company', 'Number of Investors in Seed', 'Number of Investors in Angel and or VC', 'Number of Co-founders', 'Number of of advisors', 'Team size Senior leadership', 'Team size all employees', 'Presence of a top angel or venture fund in previous round of investment', 'Number of of repeat investors', 'Number of  Sales Support material', 'Worked in top companies', 'Have been part of successful startups in the past?','Product or service company?', 'Catering to product/service across verticals','Subscription based business', 'Local or global player', 'Capital intensive business e.g. e-commerce, Engineering products and operations can also cause a business to be capital intensive','B2C or B2B venture?','Proprietary or patent position (competitive position)','Barriers of entry for the competitors','google page rank of company website','Disruptiveness of technology','Number of Direct competitors','Last round of funding received (in milionUSD)','Time to 1st investment (in months)', 'Avg time to investment - average across all rounds, measured from previous investment']]
startup_df

,Age of company in years,Internet Activity Score,Industry of company,Focus functions of company,Employee Count,Has the team size grown,Last Funding Date,Last Funding Amount,Country of company,Continent of company,...,"Capital intensive business e.g. e-commerce, Engineering products and operations can also cause a business to be capital intensive",B2C or B2B venture?,Proprietary or patent position (competitive position),Barriers of entry for the competitors,google page rank of company website,Disruptiveness of technology,Number of Direct competitors,Last round of funding received (in milionUSD),Time to 1st investment (in months),"Avg time to investment - average across all rounds, measured from previous investment"
0,No Info,-1.0,NaN,operation,3.0,No,5/26/2013,450000.0,United States,North America,...,Yes,B2C,No,Yes,9626884,Low,0,0.45,No Info,11.56
1,3,125.0,Market Research|Marketing|Crowdfunding,"Marketing, sales",NaN,No,NaN,NaN,United States,North America,...,No,B2C,Yes,Yes,1067034,Medium,0,5,10,9
2,3,455.0,Analytics|Cloud Computing|Software Development,operations,14.0,No,10/23/2013,2350000.0,United States,North America,...,No,B2B,Yes,Yes,71391,Medium,0,2.35,2,7.344444444
3,5,-99.0,Mobile|Analytics,Marketing & Sales,45.0,No,5/10/2012,10250000.0,United States,North America,...,No,B2C,Yes,Yes,11847,Medium,2,10.25,1,8.7
4,4,496.0,Analytics|Marketing|Enterprise Software,Marketing & Sales,39.0,No,12/11/2013,5500000.0,United States,North America,...,Yes,B2B,Yes,Yes,201814,Medium,0,5.5,13,9.822222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,3,-5.0,E-Commerce,NaN,NaN,No,NaN,NaN,United States,North America,...,No,B2B,No Info,Yes,No Info,No Info,No Info,No Info,No Info,No Info
468,NaN,NaN,NaN,consumer web,NaN,No,NaN,NaN,NaN,NaN,...,Yes,B2C,No Info,Yes,No Info,No Info,No Info,No Info,No Info,No Info
469,4,0.0,Analytics|E-Commerce,CAMPAIGN MANAGEMENT,0.0,NaN,NaN,NaN,United States,North America,...,No,B2B,No Info,Yes,No Info,No Info,No Info,No Info,No Info,No Info
470,5,0.0,Analytics|Marketing,SOCIALMEDIA CAMPAIGN,NaN,NaN,2/1/2010,100000.0,United States,North America,...,No,B2C,No Info,Yes,No Info,No Info,No Info,No Info,No Info,No Info
471,1,11.0,Analytics|Healthcare,DATA VISUALIZATION,NaN,NaN,9/1/2013,120000.0,United States,North America,...,No,B2C,No Info,Yes,No Info,No Info,No Info,No Info,No Info,No Info

In [19]:
startup_df.dropna()

,Age of company in years,Internet Activity Score,Industry of company,Focus functions of company,Employee Count,Has the team size grown,Last Funding Date,Last Funding Amount,Country of company,Continent of company,...,"Capital intensive business e.g. e-commerce, Engineering products and operations can also cause a business to be capital intensive",B2C or B2B venture?,Proprietary or patent position (competitive position),Barriers of entry for the competitors,google page rank of company website,Disruptiveness of technology,Number of Direct competitors,Last round of funding received (in milionUSD),Time to 1st investment (in months),"Avg time to investment - average across all rounds, measured from previous investment"
2,3,455.0,Analytics|Cloud Computing|Software Development,operations,14.0,No,10/23/2013,2350000.0,United States,North America,...,No,B2B,Yes,Yes,71391,Medium,0,2.35,2,7.344444444
3,5,-99.0,Mobile|Analytics,Marketing & Sales,45.0,No,5/10/2012,10250000.0,United States,North America,...,No,B2C,Yes,Yes,11847,Medium,2,10.25,1,8.7
4,4,496.0,Analytics|Marketing|Enterprise Software,Marketing & Sales,39.0,No,12/11/2013,5500000.0,United States,North America,...,Yes,B2B,Yes,Yes,201814,Medium,0,5.5,13,9.822222222
5,4,106.0,Food & Beverages|Hospitality,analytics,14.0,No,9/17/2013,1000000.0,United States,North America,...,No,B2B,Yes,No,591816,High,0,1,12,9.322222222
6,3,39.0,Analytics,Research,7.0,No,9/3/2013,2000000.0,United States,North America,...,No,B2B,No,Yes,2345574,Medium,0,2,11,7.311111111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,6,-19.0,energy|analytics,analytics,18.0,No,7/2/2012,3000000.0,United States,North America,...,No,B2B,No,No,No Info,High,0,4.7,24,12
421,8,-91.0,Network / Hosting / Infrastructure|Marketing,"sales, marketing and customer service",2.0,No,8/20/2010,7000000.0,United States,North America,...,No Info,B2C,No Info,Yes,No Info,No Info,No Info,No Info,No Info,No Info
438,4,30.0,Gaming|Entertainment|Mobile,Operations,0.0,No,11/1/2010,12000.0,United States,North America,...,No,B2C,No Info,Yes,No Info,No Info,No Info,No Info,No Info,No Info
442,3,-72.0,E-Commerce,Marketing,3.0,No,8/9/2012,1000000.0,United States,North America,...,Yes,B2C,No Info,Yes,No Info,No Info,No Info,No Info,No Info,No Info
450,9,31.0,Energy,"Production,sales",170.0,Yes,6/16/2011,10660000.0,United States,North America,...,Yes,B2B,No Info,Yes,No Info,No Info,No Info,No Info,No Info,No Info

In [20]:
# Create a list of categorical variables 
categorical_variables = list(startup_df.dtypes[startup_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['Age of company in years',
 'Industry of company',
 'Focus functions of company',
 'Has the team size grown',
 'Last Funding Date',
 'Country of company',
 'Continent of company',
 'Number of Investors in Seed',
 'Number of Investors in Angel and or VC',
 'Team size all employees',
 'Presence of a top angel or venture fund in previous round of investment',
 'Number of of repeat investors',
 'Number of  Sales Support material',
 'Worked in top companies',
 'Have been part of successful startups in the past?',
 'Product or service company?',
 'Catering to product/service across verticals',
 'Subscription based business',
 'Local or global player',
 'Capital intensive business e.g. e-commerce, Engineering products and operations can also cause a business to be capital intensive',
 'B2C or B2B venture?',
 'Proprietary or patent position (competitive position)',
 'Barriers of entry for the competitors',
 'google page rank of company website',
 'Disruptiveness of technology',
 'Number of Direct competitors',
 'Last round of funding received (in milionUSD)',
 'Time to 1st investment (in months)',
 'Avg time to investment - average across all rounds, measured from previous investment']

In [21]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [22]:
# Encode the categorical variables using OneHotEncoder
encoded_data = enc.fit_transform(startup_df[categorical_variables])
encoded_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.]])

In [23]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Display the DataFrame
encoded_df

,Age of company in years_1,Age of company in years_10,Age of company in years_11,Age of company in years_12,Age of company in years_14,Age of company in years_15,Age of company in years_17,Age of company in years_2,Age of company in years_3,Age of company in years_4,...,"Avg time to investment - average across all rounds, measured from previous investment_9.077777778","Avg time to investment - average across all rounds, measured from previous investment_9.233333333","Avg time to investment - average across all rounds, measured from previous investment_9.322222222","Avg time to investment - average across all rounds, measured from previous investment_9.375","Avg time to investment - average across all rounds, measured from previous investment_9.45","Avg time to investment - average across all rounds, measured from previous investment_9.466666667","Avg time to investment - average across all rounds, measured from previous investment_9.688888889","Avg time to investment - average across all rounds, measured from previous investment_9.822222222","Avg time to investment - average across all rounds, measured from previous investment_96","Avg time to investment - average across all rounds, measured from previous investment_No Info"
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
468,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
470,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
471,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0